<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" />
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon.png' | relative_url }}">
    
    <!-- MathJax for LaTeX-style math -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
  </head>
  <body>
    <div class="outer-wrapper">
      <!-- <div class="container"> -->
        <div class="top-wrapper">
          <div class="top-section">
            <div class="top-left">
              <!-- Your name/title and description inserted here -->
              <h1>
                <a href="{{ "/" | absolute_url }}">
                  {{ site.title | default: site.github.repository_name }}
                </a>
              </h1>

              {% if site.logo %}
                <img
                  src="{{ site.logo | relative_url }}"
                  alt="Profile picture"
                  class="profile-pic"
                />
              {% endif %}

              {{ page.top_left }}
            </div>
            <div class="top-right">
              {{ page.top_right }}
            </div>
          </div>
        </div>

        <div class="bottom-section">
          {{ content }}
        </div>
      <!-- </div> -->
    </div>

    <!-- <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script> -->
  </body>
</html>
